# Display eng/userdebug (dump for bugreport)
pixel_bugreport(dump_exynos_display_userdebug)

userdebug_or_eng(`
  allow dump_exynos_display_userdebug vendor_toolbox_exec:file execute_no_trans;
  allow dump_exynos_display_userdebug vendor_log_file:dir search;
  allow dump_exynos_display_userdebug vendor_hwc_log_file:dir r_dir_perms;
  allow dump_exynos_display_userdebug vendor_hwc_log_file:file r_file_perms;
  allow dump_exynos_display_userdebug debugfs_tracing_instances:dir search;
  allow dump_exynos_display_userdebug debugfs_tracing_instances:file r_file_perms;
')
