# support storage init
init_daemon_domain(storage_init)
type storage_init, domain;
type storage_init_exec, file_type, exec_type, vendor_file_type;

allow storage_init sysfs_fs_f2fs:dir search;
allow storage_init sysfs_fs_f2fs:file { open write };

allow storage_init vendor_toolbox_exec:file execute_no_trans;
